.container {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  margin: 0 auto;
  cursor: pointer;
  background-color: #fff;
  &:hover {
    background-color: #fafafa;
  }
  .article {
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > div {
        padding: 0 3px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          width: 1px;
          height: 14px;
          background-color: #6b6b6b92;
        }
      }
      :last-child {
        &::after {
          display: none;
        }
      }
    }
    .userInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      height: 25px;

      .avatar {
        width: 18px;
        height: 18px;
      }
      .userName {
        &:hover {
          text-decoration: underline;
          color: #1e80ff;
        }
      }
    }
    .date {
      color: #86909c;
    }
    .title {
      font-size: 14px;
      font-weight: bold;
      color: #1d2129;
    }
    .content {
      font-size: 16px;
      color: #86909c;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      .views {
        font-size: 12px;
        color: #828282;
        display: flex;
        gap: 5px;
        align-items: center;
      }
    }
  }
}
